header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6; 
}

.see-all {
    font-size: 0.8em; 
    text-transform: uppercase;
}


.shows h1 {
    font-size: 2.5rem;
}

section h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

.class div {
    font-weight: bold;
}


h1, h2 {
    font-weight: 300;
}


.cast img {
    width: 100%;
}


.cast li {
    width: 25%; 
}

.cast li div {
    font-size: 0.8rem; 
}

.shows #game-of-thrones, #unbreakable-kimmy-schmidt {
    border-top: 1px solid black;
}

.selected a {
    color: black; 
    font-weight: bold;
}

.cast li a div:first-of-type {
    font-weight: bold;
}

.cast li a div:last-of-type {
    font-style: italic;
}


#game-of-thrones .seasons li:last-child::after {
    content: "*"; 
}

#game-of-thrones .seasons::after {
    content: "* Final Seasons"; 
    color: #999;
    font-size: 0.7rem;
}